.header-container {
	height: var(--head-height);
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	overflow: hidden;
	background-color: var(--green);
	color: var(--text-color);
	font-weight: bold;
	font-size: var(--font-size-xl);
}

.header-app-name {
	padding-left: var(--spacing-s);
	font-weight: bold;
}
