.plus-button {
	display: flex;
	align-items: center;
	margin-right: var(--spacing-xs);
	justify-content: center;
	background-color: var(--green);
	border: none;
}

.plus-button:hover {
	cursor: pointer;
}
