.add-todo {
	display: grid;
	grid-template-columns: 15% auto;
	padding: var(--spacing-xs);
}

.add-todo-input {
	box-sizing: border-box;
	padding: var(--spacing-m) var(--spacing-xs);
	border: 1px solid var(--green);
	border-radius: var(--input-border-radius);
}

.add-todo-input:focus {
	outline: none;
	box-shadow: 0 0 var(--input-border-radius) var(--green);
}
