.sign-up-container {
	position: absolute;
	top: var(--head-height);
	width: 100%;
	bottom: 0;
	background-color: var(--background-color);
}
.form-container {
	margin: var(--spacing-s);
	display: flex;
	flex-direction: column;
}

.sign-up-button {
	margin-top: var(--spacing-m);
}

.field-wrapper {
	margin-top: var(--spacing-s);
}
