.dashboard-container {
	top: var(--head-height);
	overflow: auto;
	position: fixed;
	width: 100%;
	height: 100%;
}

.add-todo-container {
	position: fixed;
	height: var(--add-todo-height);
	width: 100%;
}

.todos-wrapper {
	position: fixed;
	top: calc(var(--head-height) + var(--add-todo-height));
	width: 100%;
	height: 100%;
}

.todos {
	position: absolute;
	overflow-y: scroll;
	height: calc(100% - calc(var(--head-height) + var(--add-todo-height)));
	width: 100%;
}
